[submodule "work/Paperclip"]
	path = work/Paperclip
	url = https://github.com/PaperMC/Paperclip
	branch = master
[submodule "TacoSpigot"]
	path = TacoSpigot
	url = https://github.com/TacoSpigot/TacoSpigot
	branch = version/1.8.8
