[submodule "FlamePaper"]
	path = FlamePaper
	url = https://github.com/2lstudios-mc/FlamePaper
[submodule "work/Paperclip"]
	path = work/Paperclip
	url = https://github.com/PaperMC/Paperclip
	branch = master
